:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: underline;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
}

a:hover {
    color: orangered;
    text-shadow: 1px 1px 0 #444;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    transition: background-image 0.5s ease-in-out;
    min-height: 100vh;
    background-color: #0a0101;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #250a0a;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 0 20px 20px;
    margin: 2em;
    max-width: 800px;
    max-height: 95%;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.17);
}

h1 {
    font-size: max(4vw, 44px) !important;
    text-align: center;
    margin: 0;
    font-family: "Neonderthaw", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-shadow: 0 0 3px #fff, 0 0 5px orangered, 0 0 10px orangered, 0 0 20px orangered, 0 0 35px orangered, 0 0 65px orangered;
    transition: all 0.5s ease;
    user-select: none;
}

h2 {
    margin-top: -0.8em;
    margin-bottom: 1em;
    text-align: center;
    font-size: clamp(12px, 2vw, 20px) !important;
    user-select: none;
}


button {
    appearance: none;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    background-color: #f0ac46;
    color: #fff;
    text-shadow: 1px 1px 0 #333;
    letter-spacing: 0.7px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: all 0.4s ease;
    user-select: none;
    display: flex;
    align-items: center;
}

button.shadow > img {
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 1));
}

button:hover {
    background-color: orangered;
}